/* Global */
* {
    font-family: 'Poppins', sans-serif;
}

/* Media Query for smaller screens */
@media (max-width: 62em) {

    /* Parent container for flex items */
    .d-parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: orange;
        padding: 20px;
        border-radius: 10px;
    }

  
    .chill {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }

   
    .filter {
        width: 100%;
    }

   
    .category-all {
        width: 100%;
    }

    .export-dashboard {
        width: 100%;
    }
}